@font-face {
  font-family: FuturaBT-Light;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.ttf')
      format('truetype');
}

@font-face {
  font-family: FuturaBT-Book;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.ttf')
      format('truetype');
}

@font-face {
  font-family: FuturaBT-Heavy;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.ttf')
      format('truetype');
}

@font-face {
  font-family: SSSocialCircle;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.ttf')
      format('truetype');
}

@font-face {
  font-family: Akkurat-Regular;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.woff')
      format('woff');
}

.h1-bold {
  font-family: FuturaBT-Heavy, sans-serif;
  font-size: 4.5rem;
  font-weight: 100;
  color: #272c2f;
  line-height: 1.1;
}

@media (min-width: 620px) {
  .h1-bold {
    font-size: 5.2rem;
    letter-spacing: -4px;
  }
}

@media (min-width: 1020px) {
  .h1-bold {
    font-size: 7.6rem;
  }
}

@media (min-width: 1440px) {
  .h1-bold {
    font-size: 9rem;
    letter-spacing: -4px;
    line-height: 10rem;
  }
}

.text-type {
  font-family: FuturaBT-Heavy, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 2px;
  opacity: 0.4;
  text-transform: uppercase;
}

.text-title {
  font-family: FuturaBT-Heavy, sans-serif;
  font-size: inherit;
  font-weight: 100;
  font-size: 2.4rem;
  letter-spacing: -0.03em;
  line-height: 3.2rem;
  margin: 1rem 0 2rem;
}

@media (min-width: 1440px) {
  .text-title {
    font-size: 2.7rem;
    line-height: 4rem;
  }
}
