@font-face {
  font-family: FuturaBT-Light;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Light.ttf')
      format('truetype');
}

@font-face {
  font-family: FuturaBT-Book;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.ttf')
      format('truetype');
}

@font-face {
  font-family: FuturaBT-Heavy;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.ttf')
      format('truetype');
}

@font-face {
  font-family: SSSocialCircle;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.woff')
      format('woff'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.ttf')
      format('truetype');
}

@font-face {
  font-family: Akkurat-Regular;
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.eot');
  src: url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.woff2')
      format('woff2'),
    url('https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.woff')
      format('woff');
}
