.recent-articles {
  &-article {
    margin-bottom: 2rem;

    img {
      width: 100%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover .article-detail-title {
      text-decoration: underline;
    }
  }

  .article-detail {
    background: #fff;
    line-height: 2.8rem;
    padding: 3rem 3rem 1.5rem;

    &-text {
      font-size: 1.8rem;
      margin: 1.8rem 0;

      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      // max-width: 400px;
      max-height: 1.8rem * 2.8 * 20; /* Fallback for non-webkit */

      -webkit-line-clamp: 20;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (min-width: 1440px) {
    .article-detail {
      line-height: 3rem;
      padding: 5rem 6rem 3.5rem;
    }
  }

  .recent-article-image-container {
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
    width: 100%;
    background: #fff;
  }
}
